/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: helvetica;
  font-size: .8em;
  background: #75669f;
  color: #161616;
}

.container, main, body, html {
  height: 100%;
}

.container {
  max-width: 600px;
  margin: 0 auto !important;
  background: #FFF;
  height: 100%;
}

.textItem {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  background: #FFF;
  display: block;
}

.container {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
  background: #41326b;
 }

 .toiletLogo{
	width:47px;
	height: 54px;
	background: url("ToiletLogo.png");
	position: relative;
	float: left;
	margin: 10px 15px;
	cursor:pointer;
 }

 .searchBarContainer{
	position:absolute;
	left: 80px;
	right: 105px;
	top: 10px;
	bottom: 10px;
 }

 .searchBar{
	width: 100%;
	height: 50%;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 3px;
 }

 .searchButtonContainer{
	position:absolute;
	width: 86px;
	right: 12px;
	top: 10px;
	bottom: 10px;
 }

 .searchButton{
	position: relative;
	float: right;
	width: 100%;
	height: 100%;
	background: #FFF;
	border: none;
	border-radius: 3px;
 }

 .linkbutton{
 	position: relative;
 	float: left;
 	margin-top: 60px;
 	margin-left: 5px;
 	background-color: #FFFFFF;
 	border-radius: 5px;
 	padding: 10px;
 }


 .filter{
 	position: relative;
 	float:left;
 	margin-top: 60px;
 	margin-left: 5px;
 	background-color: #FFFFFF;
 	border-radius: 5px;
 	padding: 10px;
 }

 .adafilterlabelimage{
	line-height: 0px;
	height: 20px;
	width: 20px;
	float: left;
	position: absolute;
	top: 7px;
 }

 .adafilterlabeltext{
 	margin-left: 25px;
 }

.unisexfilterlabelimage{
	line-height: 0px;
	height: 20px;
	width: 20px;
	float: left;
	position: absolute;
	top: 7px;
}

 .unisexfilterlabeltext{
 	margin-left: 25px;
 }

 .adacheck{
 	display: none;
 }


 .unisexcheck{
 	display: none;
 }

 .mapcheck{
 	display: none;

 }

 .listItem{
	position: relative;
	width: 100%;
	border-bottom: 1px solid #e1e1e1;
	background: #FFF;
	cursor: pointer;
 }

 .listItemTemplate{
	display:none;
 }

 .listItemImage{
	position: relative;
	width: 110px;
	height: 110px;
	margin: 15px;
	border-radius: 5px;
	background: #41326b url("ToiletLogo.png") 50% 50% no-repeat;
	display:inline-block;
 }

 .listItemImage img{
	width: 100%;
	height: 100%;
 }

 .itemInfo{
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 140px;
	right: 65px;
	overflow:none;
 }

 .itemName{
	position:relative;
	font-size: 20px;
	width: 100%;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
 }

 .itemStreet{
	position:relative;
	width: 100%;
	font-size: 15px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
 }

 .itemRating{
	position:absolute;
	width: 150px;
	background: #41326b;
	border-radius: 5px;
	bottom: 10px;
	left: 0;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
	font-family: Arial;
	font-size: 15px;
	padding: 11px 0;
	max-width: 100%;
 }

 .greenRating{
	background: #69b94a;
 }

 .yellowRating{
	background: #f5a939;
 }

 .redRating{
	background: #d6564b;
 }

 .itemExtraInfo{
	position: absolute;
	top: 20px;
	right: 15px;
 }

 .itemDistance{
	position:relative;
	color: #676767;
	text-align: right;
	font-size: 15px;
	font-family: Arial;
	padding: 5px;
 }

 .unisexBathroom{
	width: 45px;
	height: 43px;
	background: url("UnisexBathroom.png");
 }

  .ADABathroom{
	width: 44px;
	height: 47px;
	background: url("ADABathroom.png");
 }