// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, main, .container, .content{
	padding: 0; 
	margin: 0;
}

  #mapArea{
	width:100%;
	height:600px;
	padding: 0; 
	margin: 0;

 }
