version: '3'
services:
  db:
    image: postgres
  web:
    build: .
    entrypoint: [setup/entry]
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - .:/refugerestrooms
      - /refugerestrooms/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - db
