#mapContainer, #list {
    overflow: hidden;
}

// Restrooms List
.restrooms-list {
    width: 100%;

    // List Item
    .listItem {
        position: relative;
        width: 100%;
        border-bottom: 1px solid #e1e1e1;
        background: $secondary-background;
        min-height: 13em;
        float: none;
    }
    .listItemTemplate {
        display: none;
    }
    // Image
    .listItemImage {
        position: relative;
        width: 110px;
        height: 110px;
        margin: 15px 0 15px 9px;
        border-radius: $rounded-corners;
        background: #41326b asset-url("ToiletLogo.png") 50% 50% no-repeat;
        display: inline-block;
    }
    .listItemImage img {
        width: 90%;
        height: 90%;
    }
    // Info
    .itemInfo {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 150px;
        right: 95px;
        overflow: none;
    }
    .itemName a{
        position: relative;
        font-size: 24px;
        width: 100%;
    }
    .itemStreet {
        position: relative;
        width: 100%;
        font-size: 1.3rem;
    }
    .itemDistance {
        position: relative;
        color: #676767;
        text-align: right;
        font-size: 15px;
        font-family: Arial;
        padding: 5px 0;
    }
    .itemRating {
        width: 150px;
        background: #41326b;
        border-radius: $rounded-corners;
        color: #FFF;
        text-align: center;
        font-family: Arial;
        font-size: 10px;
        margin-top: 10px;
        padding: 11px 0;
        max-width: 100%;
    }

    // ADA / Gender Neutral Filters
    .itemExtraInfo {
        position: absolute;
        top: 20px;
        right: 10px;
        text-align: right;
    }
    .unisexRestroom {
        width: 45px;
        height: 43px;
        display: inline-block;
    }
    .ADARestroom {
        width: 44px;
        height: 47px;
        display: inline-block;
    }
    .unisexRestroom img, .ADARestroom img {
        width: 100%;
        height: 100%;
    }
}

// Restroom Page
// Item - Restroom header
.showPageItem {
    min-height: 140px;
    border-bottom: none;
    .listItemImage {
        position: relative;
        width: 100px;
        height: 100px;
        margin:  6px 0 0 0 ;
        border-radius: $rounded-corners;
        background: #41326b asset-url("ToiletLogo.png") 50% 50% no-repeat;
        display: inline-block;
    }
    .itemInfo {
        margin-left: 30px;
        display: inline-block;
        vertical-align: top;
        max-width: 600px;
    }
    .itemName {
    font-weight: 600;
    font-size: 24px;
    }
    .itemExtraInfo {
        width: 45px;
        height: 43px;
        float: right;
    }
}
// Restroom Page Content
.showPageContent {
    // Map Area
    .showPageContent #mapArea {
        border-radius: 5px;
        float: left;
    }
}

// Minimal List
.minimalRestroomList {
    display: block;
    clear: both;
    margin-bottom: 2em;
    .listItem {
        min-height: inherit;
        clear: both;
        padding: 5px 0;
        border-width: 0;
        .listItemImage, .itemRating, .unisexRestroom, .ADARestroom {
            display: none;
        }
        .itemInfo, .itemName, .itemStreet, .itemExtraInfo, .itemDistance {
            position: relative;
            width: auto;
            font-size: 14px;
            text-decoration: none;
        }
        .itemInfo, .itemExtraInfo {
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
        }
        .itemInfo, .itemName, .itemStreet {
            float: left;
            padding: 0 1em 0 0;
        }
        .itemExtraInfo, .itemDistance {
            float: right;
            padding: 0;
        }
    }
}

.mapToggle {
    float: right;
    border-raidus: $rounded-corners;
}
.mapToggle.linkbutton {
    padding: 8px;
}

.itemRating {
    width: 150px;
    background: #41326b;
    border-radius: $rounded-corners;
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 10px;
    margin-top: 10px;
    padding: 11px 0;
    max-width: 100%;

    &.greenRating {
    background: $green;
    }
    &.yellowRating {
        background: $yellow;
    }
    &.redRating {
        background: $red;
    }
}

.itemStreet {
    color: #000;
}

.filter {
    float: left;
    font-size: 15px;
    .toggle {
        border-radius: $rounded-corners;
        width: 69px;
        height: 34px;
        padding: 0;
        background-size: 138px 34px;
        background-color: $dark-purple;
        overflow: hidden;
        margin: 8px;
    }
}
.filter i.fa{
    font-size: 22px;
}

.filter::after {
    content: "Off";
}

.filter.active::after{
    content: "On";
}
