<div id="filters" class="clearfix">
  <div id="ada_filter" class="filter">
    <div class="toggle filter_off"></div>
    <div class="toggle filter_on"></div>
  </div>
  <label for="ada_filter">
    <span class="hiddenText">ADA Compliant Filter</span>
  </label>

  <div id="unisex_filter" class="filter">
    <div class="toggle filter_off"></div>
    <div class="toggle filter_on"></div>
  </div>
  <label for="unisex_filter">
    <span class="hiddenText">Unisex Filter</span>
  </label>

  <div class="mapToggle linkbutton">
    Map View
  </div>
</div>

<div id="results">
  <%= content_tag 'div', id: 'mapContainer', data: { latitude: params[:lat], longitude: params[:long], listpath: list_bathrooms_path } do %>
    <div id="mapArea"></div>
  <% end %>

  <div id="list">
    <%= render @bathrooms %>
  </div>
</div>
