<h3> List of all Bathroom Listings </h3>

<ul>
    <% @bathrooms.reverse.each do |b| %>
      <% if b.visable == true %>
        <li> <%= link_to b.name, bathroom_path(b) %> || <%= b.street %>, <%= b.city %>, <%= b.state %> </li>
        <hr>
      <% end %>
    <% end %>
  
</ul>

