/*All From Susy File*/

$font-stack: "Ubuntu", "Helvetica Neue", Arial, Gotham, "Helvetica", sans-serif;
$primary-color: #333333;
$purple: #41326B;
$light-purple: #8377af;
$dark-purple: #0E0036;
$base-color: #161616;
$secondary-background: white;
$green: #69b94a;
$yellow: #f5a939;
$red: #d6564b;
$gray: #AAA;
$white: #FFFFFF;
$rounded-corners: 5px;
