#filters.clearfix
  %button#ada_filter.filter.btn.btn-primary{ :data => { :toggle => "button" }, :ariaPressed => "false" }
    %span.hiddenText ADA Compliant Filter
    %i.fa.fa-wheelchair
  %button#unisex_filter.filter.btn.btn-primary{ :data => { :toggle => "button" }, :ariaPressed => "false" }
    %span.hiddenText Unisex Filter
    %i.fa.fa-transgender-alt
  .mapToggle.filter.linkbutton
    Map View
#results
  = content_tag 'div', id: 'mapContainer', data: { latitude: params[:lat], longitude: params[:long] } do
    #mapArea
  #list
    = render @restrooms
    = paginate @restrooms
