#filters.clearfix
  #ada_filter.filter
    .toggle.filter_off
    .toggle.filter_on
    %label{:for => "ada_filter"}
      %span.hiddenText ADA Compliant Filter
  #unisex_filter.filter
    .toggle.filter_off
    .toggle.filter_on
    %label{:for => "unisex_filter"}
      %span.hiddenText Unisex Filter
  .mapToggle.filter.linkbutton
    Map View
#results
  = content_tag 'div', id: 'mapContainer', data: { latitude: params[:lat], longitude: params[:long] } do
    #mapArea
  #list.constrained
    = render @restrooms
    = paginate @restrooms
