.row
  .col-xs-12.headroom
    = render 'layouts/filters'

.restrooms-index-content
  .row
    .col-sm-12.headroom
      #results
        = content_tag 'div', id: 'mapContainer', data: { latitude: params[:lat], longitude: params[:long] } do
          #mapArea

  .row
    .col-sm-12.headroom
      #list.restrooms-list
        = render @restrooms
        = paginate @restrooms

