.row
  .col-xs-12.headroom
    #filters.clearfix
      .btn-group{:data => {:toggle => "buttons"}}
        %label#ada_filter.filter.btn.btn-light-purple.linkbutton
          %input{:type => "checkbox"}
          %i.fa.fa-wheelchair
        %label#unisex_filter.filter.btn-light-purple.btn.linkbutton
          %input{:type => "checkbox"}
          %i.fa.fa-transgender-alt
        %label#changing_table_filter.filter.btn-light-purple.btn.linkbutton
          %input{:type => "checkbox"}
          %i.fa.fa-child

      .map-toggle-btn.mapToggle.linkbutton.btn-lg.btn-light-purple
        Map View

.restrooms-index-content
  .row
    .col-sm-12.headroom
      #results
        = content_tag 'div', id: 'mapContainer', data: { latitude: params[:lat], longitude: params[:long] } do
          #mapArea
  .row
    .col-sm-12.headroom
      #list.restrooms-list
        = render @restrooms
        = paginate @restrooms
/ .row
/   .col-xs-12.headroom
/     .restrooms-index-content
/       = content_tag 'div', id: 'map-container', data: { latitude: params[:lat], longitude: params[:long] } do
/         #map-content
/       .restrooms-list
/         = render @restrooms
/         = paginate @restrooms


/ #results.headroom
/   = content_tag 'div', id: 'mapContainer', data: { latitude: params[:lat], longitude: params[:long] } do
/     #mapArea
/   #list.restrooms-list
/     = render @restrooms
/     = paginate @restrooms
