<span class="abouttext">

<center>
  <h1><%= t('about.title') %></h1>

  <h3><a HREF="https://github.com/tkwidmer/refugerestrooms"> <%= t('about.contribute') %></a> </p>

</center>
<div style="padding-left: 25px; padding-right: 25px;">
  <%= t('about.description') %>
</div>



</span>
