<span class="abouttext">

<h1>About REFUGE </h1>

<p>REFUGE provides safe restroom access for transgender, intersex, and gender noncomforming individuals. </p>

<p>REFUGE is an effort to fill the hole left by the now defunct Safe2Pee website and once again provide a valuable resource for trans and queer individuals who find themselves in need of a safe restroom to use. </p>

<p>This project is open source. Feel free to contribute. We could use the help. You can find us on Github. </p>

</span>