<span class="abouttext">

<center>
  <h1>About REFUGE </h1>

  <h3><a HREF="https://github.com/tkwidmer/refugerestrooms"> Fork us and contribute on Github!</a> </p>

</center>
<div style="padding-left: 25px; padding-right: 25px;">
<p>REFUGE seeks to provide safe restroom access for transgender, intersex, and gender noncomforming individuals. When the Safe2Pee website passed out of functionality, it left a whole in  and once again provide a valuable resource for trans and queer individuals who find themselves in need of a safe restroom to use. </p>

<p>This project is open source. Feel free to contribute. We could use the help.</p>
</div>



</span>