<div class="imgsplash">
  <%= image_tag('logo-dark.svg') %>
</div>
<div class="centerText">
	This website is currently functional yet still under development. You may find that there are bugs. If you find any please contact us at one of the links below so that we can resolve the issue ASAP. This is an Open Source project and we encourage you to contribute on github.
	<br/>
</div>

<div id="navlist">
  <%= link_to "about", about_path, {:class=>"textItem"} %> || <a HREF="https://www.gittip.com/tkwidmer" class="textItem"> donate via gittip </a>  
</div>