<h1> REFUGE restrooms </h1>

<div id="list">
	<%= link_to "Add A Bathroom", new_bathroom_path, {:class=>"textItem"} %>
  <%= link_to "About", about_path, {:class=>"textItem"} %>
	<a HREF="http://www.github.com/tkwidmer/saferstalls_rails" class="textItem"> Find us on Github </a>
</div>