<div class="imgsplash">
  <img src="<%= asset_path('splashlanding.png') %>"/>
</div>

<div id="navlist">
  <%= link_to "Add A Bathroom", new_bathroom_path, {:class=>"textItem"} %> || <%= link_to "About", about_path, {:class=>"textItem"} %> ||
    <a HREF="https://github.com/tkwidmer/refugerestrooms" class="textItem"> Find us on Github </a>
</div>