<div class="imgsplash">
  <%= image_tag('logo-dark.svg') %>
</div>
<%= render partial: "layouts/search", locals: {splash: true} %>

<div class="centerText">
  <p>
	This website is currently functional yet still under development. You may find that there are bugs. If you find any please submit an issue on GitHub, or send us a <%= link_to 'message', contact_path %> so that we can resolve the issue ASAP. This is an Open Source project and we encourage you to contribute on GitHub.</p>
	<br/>
</div>
 
</div>
