.row
  .col-xs-12
    .imgsplash
      = image_tag('logo-dark.svg')

= render partial: "layouts/search", locals: {splash: true}

.row.splash-content
  .col-md-6
    = render "topcities"
  .col-md-6
    .centerText
      %p{:id => "preamble"}
        = t('landing.development',
        contact_link: (link_to 'message', contact_path),
        github_link: (link_to 'Github',
        "http://www.github.com/RefugeRestrooms/refugerestrooms") ).html_safe
