<div id="list">
	<%= link_to "home", root_path, {:class=>"textItem"} %>
	<%= link_to "submit a bathroom", new_bathroom_path, {:class=>"textItem"} %>
	<%= link_to "list all bathrooms",bathrooms_path, {:class=>"textItem"} %>
	<a HREF="http://www.github.com/tkwidmer/saferstalls_rails" class="textItem"> find us on github </a>
</div>


<!--
<div id="mapArea"></div>
-->

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script type="text/javascript">
var headerHidden = false;

$(function(){
/*
	initMap();
	
	
	
	
	$.get( "list", function( data ) {
	  for(var i = 0; i < data.length; i++){
		setPoint(data[i]);
	  }
	});
	*/
	
});
</script>