<div style="padding-left: 25px; padding-right: 25px;">
    <h1><%= t('welcome.text_msg.title') %></h1>
    <p><%= t('welcome.text_msg.intro').html_safe %></p>
    
    <h2 style="text-align: center;"><%= t('welcome.text_msg.instructions') %></h2>
    <p><%= t('.tip') %></p>
    
    <div style="margin:30px auto;text-align:center;"><img src="/assets/text-msg-demo.png"></div>
    
</div>

