<div style="padding-left: 25px; padding-right: 25px;">
    <h1><%= t('.title') %></h1>
    <p><%= t('.intro').html_safe %></p>
    
    <h2 style="text-align: center;"><%= t('.instructions') %></h2>
    <p><%= t('.tip') %></p>
    
    <div style="margin:30px auto;text-align:center;"><img src="/assets/text-msg-demo.png"></div>
    
</div>

