<div style="padding-left: 25px; padding-right: 25px;">
    <h1>Get Closest Bathroom by Text</h1>
    <p>If you just need to get to the closest safe bathroom <em>right now</em>, you can get it by text on any phone that has SMS.</p>
    
    <h2 style="text-align: center;">Text your location to +1 (415) 367-3288</h2>
    <p>For the most accurate results, include street address, city, state and country. You'll get a location name and address back instantly!</p>
    
    <div style="margin:30px auto;text-align:center;"><img src="/assets/text-msg-demo.png"></div>
    
</div>

