.text-padding
  %h1= t('pages.text_msg.title')
  %p= t('pages.text_msg.intro').html_safe
  %h2{:style => "text-align: center;"}= t('pages.text_msg.instructions')
  %p= t('.tip')
  %div{:style => "margin:30px auto;text-align:center;"}
    %img{:src => "/assets/text-msg-demo.png"}/
