.text-padding
  %h1= t('pages.text.title')
  %p.centered-text= t('pages.text.intro').html_safe
  %h2.centered-text= t('pages.text.instructions')
  %p.centered-text= t('.tip')
  %div.centered-text{:style => "margin:30px auto"}
    %img{:src => "/assets/text-msg-demo.png"}/
