.current-location-button {
    .fa-refresh {
        display: none;
    }
}

.submit-search-button {
    .fa-refresh {
        display: none;
    }
}

.header {
    .navbar-toggle:hover {
        background-color: $light-purple;
        border-color: $light-purple
    }
}


.search-container {
    margin: 10px 0px;

    .search-bar {
        height: 44px;
        border: 2px solid $purple;
    }

    .btn {
        border: 2px solid $purple;
        background-color: white;
        color: $purple;
        height: 44px;
    }
}



.locating {
    background-position: 50%;
    color: white;
    background-color: #8377af;
    border-color: #8377af;
    .fa-location-arrow {
        display: none;
    }
    .fa-search {
        display: none;
    }
    .fa-refresh {
        display: inherit;
    }
    .btn-text {
        display: none
    }
}

.current-location-button {
    border-left: 1px solid black
}

// .submit-search-button:hover,
// .submit-search-button:focus,
// .current-location-button:hover,
// .current-location-button:focus, {
//     background-color: white;
//     color: black;
//     border-color: $light-purple;
// }
