@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
    main, main .container {
        padding-left: 0;
        padding-right: 0;
    }
    .form-vertical {
        padding-left: 15px;
        padding-right: 15px;
    }
    .imgsplash {
        width: 100%;
    }
    .fontLarge {
        font-size: 110px;
        line-height: 110px;
    }
    .showPageItem .itemInfo {
        left: 35%;
    }

    // Restrooms List
    .restrooms-list {
        .listItemImage {
            width: 95px;
            height: 95px;
        }
        .listItemImage img {
            width: 90%;
            height: 90%;
        }
        .itemInfo {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 130px;
        right: 95px;
        overflow: none;
    }
    }

    // Show restroom page
    // Item
    .showPageItem {
        .listItemImage {
            margin: 10px 0 0 10px;
        }
        .itemInfo {
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 100px;
            right: 95px;
            overflow: none;
        }
    }
    .showPageContent {
        padding: 10px;

    }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .container {
        width: 100%;
    }
    .searchBar {
        font-size: 0.7rem;
    }

    // Restrooms List
    .restrooms-list {
        .listItemImage {
            width: 60px;
            height: 60px;
            margin: 15px 10px;
            margin-top: 20px;
        }
        .itemInfo {
            left: 90px;
            right: 85px;
        }
        .itemName a{
            position: relative;
            font-size: 16px;
            width: 100%;
        }
        .itemExtraInfo {
            top: 0;
        }
        .itemDistance {
            font-size: 12px;
            padding-bottom: 0;
        }
        .itemRating {
            font-size: 12px;
            width: 120px;
        }
        .itemExtraInfo {
        position: absolute;
        top: 20px;
        right: 15px;
    }
    }
    #mapArea {
        height: 200px;
    }
    .fontLarge {
        font-size: 70px;
        line-height: 70px;
    }
    .imgsplash {
        font-size: 40px;
    }
    .textItem {
        font-size: 12px;
    }
    .showPageItem .itemName {
        font-size: 15px;
    }
    a.thumbsButton.thumbsButton {
        font-size: 18px;
        text-align: right;
        padding-right: 5px;
    }
    .thumbsDown {
        background-image: url('thumbsDownSmall.jpg');
    }
    .thumbsUp {
        background-image: url('thumbsUpSmall.jpg');
    }
    .thumbsButton {
        font-size: 15px;
    }
}
a.iconLink:hover {
    text-decoration: none;
}
