/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require framework_and_overrides
 *= require restrooms
 *= require nav
 *= require search
 */

@import 'variables';

// Body
body {
  font-family: $font-stack;
  font-size: .8em;
  background: $purple;
  color: $base-color;
}

// Text Elements
h1 {
  padding: 5px;
  text-align: center;
}

// Inputs
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

// Parts of page

  // header

  // main
  .main {

  }

    // container
    .container {
      width: 100%;
    }
