@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree . */
/* line 25, ../sass/application.css.sass */
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 0.8em;
  background: #75669f;
  color: #161616;
}

/* line 31, ../sass/application.css.sass */
.container, main, body, html {
  height: 100%;
}

/* line 34, ../sass/application.css.sass */
.container {
  max-width: 600px;
  margin: 0 auto !important;
  background: white;
  height: 100%;
}

/* line 40, ../sass/application.css.sass */
.textItem {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 20px;
  background: white;
  display: block;
}

/* line 49, ../sass/application.css.sass */
.container {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

/* line 55, ../sass/application.css.sass */
.header {
  position: relative;
  width: 100%;
  height: 100px;
  background: #41326b;
}

/* line 61, ../sass/application.css.sass */
.toiletLogo {
  width: 47px;
  height: 54px;
  background: url("ToiletLogo.png");
  position: relative;
  float: left;
  margin: 10px 15px;
  cursor: pointer;
}

/* line 70, ../sass/application.css.sass */
.searchBarContainer {
  position: absolute;
  left: 80px;
  right: 105px;
  top: 10px;
  bottom: 10px;
}

/* line 77, ../sass/application.css.sass */
.searchBar {
  width: 100%;
  height: 50%;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 3px;
}

/* line 85, ../sass/application.css.sass */
.searchButtonContainer {
  position: absolute;
  width: 86px;
  right: 12px;
  top: 10px;
  bottom: 10px;
}

/* line 92, ../sass/application.css.sass */
.searchButton {
  position: relative;
  float: right;
  width: 100%;
  height: 100%;
  background: white;
  border: none;
  border-radius: 3px;
}

/* line 101, ../sass/application.css.sass */
.linkbutton {
  position: relative;
  float: left;
  margin-top: 60px;
  margin-left: 5px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

/* line 110, ../sass/application.css.sass */
.filter {
  position: relative;
  float: left;
  margin-top: 60px;
  margin-left: 5px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

/* line 119, ../sass/application.css.sass */
.adafilterlabelimage {
  line-height: 0px;
  height: 20px;
  width: 20px;
  float: left;
  position: absolute;
  top: 7px;
}

/* line 127, ../sass/application.css.sass */
.adafilterlabeltext {
  margin-left: 25px;
}

/* line 130, ../sass/application.css.sass */
.unisexfilterlabelimage {
  line-height: 0px;
  height: 20px;
  width: 20px;
  float: left;
  position: absolute;
  top: 7px;
}

/* line 138, ../sass/application.css.sass */
.unisexfilterlabeltext {
  margin-left: 25px;
}

/* line 141, ../sass/application.css.sass */
.adacheck {
  display: none;
}

/* line 144, ../sass/application.css.sass */
.unisexcheck {
  display: none;
}

/* line 147, ../sass/application.css.sass */
.mapcheck {
  display: none;
}

/* line 150, ../sass/application.css.sass */
.listItem {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  background: white;
  cursor: pointer;
}

/* line 157, ../sass/application.css.sass */
.listItemTemplate {
  display: none;
}

/* line 160, ../sass/application.css.sass */
.listItemImage {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 15px;
  border-radius: 5px;
  background: #41326b url("ToiletLogo.png") 50% 50% no-repeat;
  display: inline-block;
}

/* line 169, ../sass/application.css.sass */
.listItemImage img {
  width: 100%;
  height: 100%;
}

/* line 173, ../sass/application.css.sass */
.itemInfo {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 140px;
  right: 65px;
  overflow: none;
}

/* line 181, ../sass/application.css.sass */
.itemName {
  position: relative;
  font-size: 20px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 189, ../sass/application.css.sass */
.itemStreet {
  position: relative;
  width: 100%;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 197, ../sass/application.css.sass */
.itemRating {
  position: absolute;
  width: 150px;
  background: #41326b;
  border-radius: 5px;
  bottom: 10px;
  left: 0;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: Arial;
  font-size: 15px;
  padding: 11px 0;
  max-width: 100%;
}

/* line 212, ../sass/application.css.sass */
.greenRating {
  background: #69b94a;
}

/* line 215, ../sass/application.css.sass */
.yellowRating {
  background: #f5a939;
}

/* line 218, ../sass/application.css.sass */
.redRating {
  background: #d6564b;
}

/* line 221, ../sass/application.css.sass */
.itemExtraInfo {
  position: absolute;
  top: 20px;
  right: 15px;
}

/* line 226, ../sass/application.css.sass */
.itemDistance {
  position: relative;
  color: #676767;
  text-align: right;
  font-size: 15px;
  font-family: Arial;
  padding: 5px;
}

/* line 234, ../sass/application.css.sass */
.unisexBathroom {
  width: 45px;
  height: 43px;
  background: url("UnisexBathroom.png");
}

/* line 239, ../sass/application.css.sass */
.ADABathroom {
  width: 44px;
  height: 47px;
  background: url("ADABathroom.png");
}
