/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .container {
  padding-left: 30px; 
  padding-top: 30px;
  padding-right: 30px;
 	margin: 0 auto;
 }

 .header {
  width: 100%;
  text-align: center;
 }

 .nav {
  text-align: center;
 }

 .content {
  padding-top: 30px;
  width: 100%;
 	float: left; 

 }

 .hideHeader{
	display:none;
 }