@import 'refuge_core';

.centered-text {
  text-align: center
}

// Headroom / Footroom Classes
.min-headroom {
  margin-top: 10px
}

.headroom {
  margin-top: 20px
}

.more-headroom {
  margin-top: 40px
}

.even-more-headroom {
  margin-top: 60px
}

.footroom {
  margin-bottom: 20px
}

// Buttons

.btn-dark-purple {
  color: white;
  background-color: $dark-purple;
}

.btn-purple {
  color: white;
  background-color: transparentize($purple, 0.1);
  &:hover, &:focus {
    color: white
  }
}

.btn-light-purple {
  color: white;
  background-color: $light-purple;
  border-color: $light-purple;

  &:hover, &:focus {
    color: white;
    background-color: $light-purple;
    border-color: $light-purple;
  }
}
