#new_contact.simple_form.form_vertical {

  margin-top: 32px;
  margin-bottom: 22px;
  @media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
