@import 'bootstrap';
@import 'variables';

// import the CSS framework

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

// override for the 'Home' navigation link


// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral

.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #ffffff;
  padding-bottom: 80px;
  width: 100%;
  }
section {
  @extend .row;
  padding-top: 20px;
  }

// This fixes Bootstrap from messing with Google Maps CSS
#mapArea img {
  max-width: none;
}
#mapArea label {
  width: auto; display:inline;
}
