@import 'bootstrap';
@import 'variables';
// import the CSS framework
// make all images responsive by default
img {
    @extend .img-responsive;
    margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
    font-size: inherit;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: $light-purple
}
.navbar-default {
    width: 100%;
    background-color: transparent;
    border-color: #41326B;
}
.btn {
    color: white;
    background-color: #8377af;
    border-color: #6756A8;
}
.btn-group > .btn {
    min-width: 75px;
} 
button.btn:hover, button.btn:focus {
    color: white;
    background-color: #8377af;
    border-color: #8377af;
}
header {
    background-color: $purple;
}
// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral

// apply styles to HTML elements
// to make views framework-neutral

// This fixes Bootstrap from messing with Google Maps CSS
#mapArea img {
    max-width: none;
}
#mapArea label {
    width: auto;
    display: inline;
}