@import 'variables';

.nav {
  background: $purple;
}

.nav2 {
  background: $dark-purple;
}

.toiletLogo {
  width: 45px;
  height: 45px;
  background: asset-url("logo-100x100.png");
  background-size: 100% 100%;
  position: relative;
  float: left;
  cursor: pointer;
  top: 2px
}

.navbar-default .navbar-nav > li > a {
  color: white;

  &:hover {
    color: $light-purple;
  }
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-brand {
  font-size: inherit;
  }

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: $light-purple
}

.navbar-default {
  width: 100%;
  background-color: transparent;
  border-color: #41326B;
}

.btn:hover, .submit:hover, .btn:focus, .submit:focus {
  color: white;
  text-decoration: none; }

header {
  background-color: $purple;
}
