@import 'refuge_core';

.navbar-default{
  padding: 5px 0px;
  background-color: transparent;
  border-color: transparent;

  .navbar-brand {
    color: white;
    &:hover {
      color: white;
    }
    &:focus {
      color: $light-purple;
    }
  }

  ul.navbar-nav > li > a {
    font-size: 10pt;
    color: white;
    &:hover, &:focus {
      color: $light-purple;
    }
  }

  .navbar-toggle {
    color: white;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
