@import 'variables';

.current-location-button {
    .fa-refresh {
        display: none;
    }
}


.submit-search-button {
    .fa-refresh {
        display: none;
    }
}

.search-bar {
    height: 43px
}


.header {
    .search-container {
        margin: 10px 0px
    }

    .navbar-toggle:hover {
        background-color: $light-purple;
        border-color: $light-purple
    }

    span.fa-bars {
        color: white;
    }
}


.locating {
    background-position: 50%;
    .fa-location-arrow {
        display: none;
    }
    .fa-search {
        display: none;
    }
    .fa-refresh {
        display: inherit;
    }
    .btn-text {
        display: none
    }
}

.submit-search-button:hover, .splashcontainer .current-location-button:hover {
    background-color: $light-purple;
    border-color: $light-purple;

}