@import 'variables';
.search {
    overflow: auto;
    width: 100%;
    margin: 0 auto;
}
.searchBarContainer {
    margin: 15px 130px 15px 15px;
}
.searchBar {
    width: 99%;
    height: 50px;
    padding: 0 0 0 1rem;
    margin: 0;
    font-size: 1.2rem;
    border-radius: $rounded-corners;
}
.header {
    .searchBar {
        border: 0;
    }
    .searchButton, .currentLocationButton {
        position: absolute;
        top: 15px;
        padding-right: 2px;
        padding-left: 2px;
        width: 50px;
        height: 50px;
    }
    .searchButton {
        right: 15px;
    }
    .currentLocationButton {
        right: 75px;
    }
}
.currentLocationButton {
    word-wrap: break-word;
    background-size: 75%;
    background-position: 50%;
}
.currentLocationButton .fa-spinner {
    display: none;
}
.splashcontainer {
    .searchBarContainer {
        margin-right: 15px;
    }
    .currentLocationButton {
        background-image: none;
    }
}
.currentLocationButtonLocating, #guess.locating {
    background-position: 50%;
    .fa-location-arrow {
        display: none;
    }
    .fa-spinner {
        display: inherit;
    }
}
