@import 'refuge_core';

html {
  height: 100%
}

body {
  height: 100%
}

.splash-background {
  background: image-url('city-photo.jpg') no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;

  nav {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    @include border-radius(5px);
  }

  footer {
    color: white;
    background-color: transparent;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    height: 60px;
    a {
      color: white;
      text-decoration: underline;
      &.iconLink {
        text-decoration: none
      }
    }
  }

}

.splash-content {
  padding: 75px 10px 0px 10px;

  .search-bar {
    height: 70px;
    font-size: 18pt;
  }

  .input-group-btn > .btn {
    height: 70px;
    width: 70px;
    &:hover {
      border-color: $dark-purple;
    }
  }

  .splash-text-container {
    @include border-radius(5px);
    color: white;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
  }

  h1 {
    font-weight: bold;
    font-size: 34pt;
    padding-bottom: 20px
  }

  h3 {
    font-weight: 400;
    padding-top: 20px
  }

  .splash-bottom-padding {
    padding-bottom: 60px
  }

  .splash-add-restroom-btn {
    margin: 0 auto;
    display: block;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 40px;
    @include box-shadow(7px 7px 24px 0px rgba(50, 50, 50, 0.75));

    i {
      vertical-align: middle;
      margin-left: 20px
    }
  }
}

.top-cities-container {
  padding: 5px;
  color: white;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  p {
    margin: 0
  }
  a {
    color: white;
  }
}
