#top-cities-content {
    border: 5px solid #41326b;
    overflow: scroll;
}
#top-cities-content > p {
    font-size: 18px;
    background-color: #8377AF;
    border-bottom: 2px solid #41326b;
    color: white;
    padding: 3px;
}
ul {
    margin-top: 5px;
}
ul li {
    text-align: left;
}
ul li > a {
    text-decoration: none;
    color: black;
}
ul li > a:hover {
    text-decoration: none;
    color: #8377AF;
}

#preamble {
    display: inline-block;
    float: left;
    padding-left: 3em;
    text-align: left;
}