/* line 5, ../sass/welcome.css.sass */
html, body, main, .container, .content {
  padding: 0;
  margin: 0;
}

/* line 9, ../sass/welcome.css.sass */
#mapArea {
  width: 100%;
  height: 600px;
  padding: 0;
  margin: 0;
}
