/ Filters for ada, unisex and map toggle
.row
  .col-xs-12.headroom
    #filters.clearfix
      .btn-group{:data => {:toggle => "buttons"}}
        %label#ada_filter.filter.btn.whitebutton
          %input{:type => "checkbox"}
          %i.fa.fa-wheelchair
        %label#unisex_filter.filter.btn.whitebutton
          %input{:type => "checkbox"}
          %i.fa.fa-transgender-alt

      .map-toggle-btn.mapToggle.filter.whitebutton
        Map View

