%footer
  .footer
    %a{:href => "https://github.com/RefugeRestrooms/refugerestrooms", :class => "iconLink"}
      %img.icon.iconGitHub{:src => asset_path("clear.png"), :alt => "Refuge Restrooms on github"}/
    %a{:href => "https://twitter.com/refugerestrooms", :class => "iconLink"}
      %img.icon.iconTwitter{:src => asset_path("clear.png"), :alt => "Refuge Restrooms on twitter"}/
    %a{:href => "https://www.facebook.com/refugerestrooms", :class => "iconLink"}
      %img.icon.iconFacebook{:src => asset_path("clear.png"), :alt => "Refuge Restrooms on facebook"}/
    %a{:href => "http://blog.refugerestrooms.org/", :class => "iconLink"}
      %img.icon.iconTumblr{:src => asset_path("clear.png"), :alt => "Refuge Restrooms's blog on tumblr"}/
    %a{:href => contact_path, :class => "iconLink"}
      %img.icon.iconEmail{:src => asset_path("clear.png"), :alt => "Email Refuge Restrooms"}/
    %br/
    refuge restrooms is open source.
    %a{:href => "https://github.com/RefugeRestrooms/refugerestrooms"} code on github.
    %br/
    \&copy; copyleft 2014 refuge restrooms.
