%footer
  .footer
    %a.iconLink{:href => "https://github.com/RefugeRestrooms/refugerestrooms", :aria => { :label => "Refuge Restrooms on github"}}
      %i.icon.fa.fa-github-square.fa-3x
    %a.iconLink{:href => "https://twitter.com/refugerestrooms", :aria => { :label => "Refuge Restrooms on twitter"}}
      %i.icon.fa.fa-twitter-square.fa-3x
    %a.iconLink{:href => "https://www.facebook.com/refugerestrooms", :aria => { :label => "Refuge Restrooms on facebook"}}
      %i.icon.fa.fa-facebook-square.fa-3x
    %a.iconLink{:href => "http://blog.refugerestrooms.org/", :aria => { :label => "Refuge Restrooms's blog on tumblr"}}
      %i.icon.fa.fa-tumblr-square.fa-3x
    %a.iconLink{:href => contact_path, :aria => { :label => "Email Refuge Restrooms"}}
      %i.icon.fa.fa-envelope.fa-3x
    %br/
    refuge restrooms is open source.
    %a{:href => "https://github.com/RefugeRestrooms/refugerestrooms"} code on github.
    %br/
    contribute to the project
    %a{:href => "https://patreon.com/refugerestrooms"} on patreon.
    %br/
    = "\&copy; copyleft #{Date.today.year} refuge restrooms.".html_safe
