<footer>
  <div class="footer">
    <a href="https://github.com/tkwidmer/refugerestrooms">
      <img class="icon iconGitHub" alt="Refuge Restrooms on github" /></a>
    <a href="https://twitter.com/refugerestrooms">
      <img class="icon iconTwitter" alt="Refuge Restrooms on twitter"></a> 
    <a href="https://www.facebook.com/refugerestrooms">
      <img class="icon iconFacebook" alt="Refuge Restrooms on facebook"></a> 
    <a href="http://blog.refugerestrooms.org/">
      <img class="icon iconTumblr" alt="Refuge Restrooms's blog on tumblr"></a>
    <a href="<%= contact_path %>">
      <img class="icon iconEmail" alt="Email Refuge Restrooms"></a>
    <br/>
    refuge restrooms is open source.  
    <a href="https://github.com/tkwidmer/refugerestrooms"> code on github. </a> 
    <br/>
    &copy; copyleft 2014 refuge restrooms.
  </div>
</footer>
