%footer
  .footer
    %a.iconLink{:href => "https://github.com/RefugeRestrooms/refugerestrooms"}
      %img.icon.iconGitHub{:src => asset_path("clear.png"), :alt => "Refuge Restrooms on github"}/
    %a.iconLink{:href => "https://twitter.com/refugerestrooms"}
      %img.icon.iconTwitter{:src => asset_path("clear.png"), :alt => "Refuge Restrooms on twitter"}/
    %a.iconLink{:href => "https://www.facebook.com/refugerestrooms"}
      %img.icon.iconFacebook{:src => asset_path("clear.png"), :alt => "Refuge Restrooms on facebook"}/
    %a.iconLink{:href => "http://blog.refugerestrooms.org/"}
      %img.icon.iconTumblr{:src => asset_path("clear.png"), :alt => "Refuge Restrooms's blog on tumblr"}/
    %a.iconLink{:href => contact_path}
      %img.icon.iconEmail{:src => asset_path("clear.png"), :alt => "Email Refuge Restrooms"}/
    %br/
    refuge restrooms is open source.
    %a{:href => "https://github.com/RefugeRestrooms/refugerestrooms"} code on github.
    %br/
    = "\&copy; copyleft #{Date.today.year} refuge restrooms.".html_safe