
<div class="header">
	<div class="toiletLogo" id="logo"></div>
	<div class="searchBarContainer">
		<input type="text" class="searchBar" />
	</div>
	<div class="searchButtonContainer">
		<button class="searchButton">Search</button>
	</div>
</div>

<!--
<div class ="header">
  <center><h1> REFUGE </h1>
  <p> Providing access to safe restrooms for trans, intesex, and gender nonconforming folk.</p>
</center> </div>

<div class="nav">
  <%= link_to "home", root_path %> ||
  <%= link_to "submit a bathroom", new_bathroom_path %> ||
  <%= link_to "list all bathrooms",bathrooms_path %> ||
  <a HREF="http://www.github.com/tkwidmer/saferstalls_rails"> find us on github </a>
</div>

<div class="hideHeader">Hide Header</div>
-->