<!DOCTYPE html>
<html>
<head>
  <title>Safer Stalls</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Leafly stylesheet -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
</head>

<body>

<main role="main">
  
  <div class="container" style="max-width:800px; margin: 0 auto;" >
    
    <div class="menu" style="background-color:#FFFFFF; width:210px; float:left; padding-top:15px; 
    padding-right:0px;">
    <h3> Safer Stalls</h3>
    an open source gender neutral bathroom resource for queer, trans, and gender nonconforming folk.<br><br>
    thanks 2 safe2pee data for starting us off. <br><br>
    <a HREF="http://www.github.com/tkwidmer/saferstalls_rails"> github </a>
    </div>

    <div class="content" style="background-color:#FFFFFF;max-width:700px; float:left; padding-left: 50px; padding-top: 15px">
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  
  </div> <!-- /container -->

</main>


  <div id="content" style="background-color:#FFFFFF;width:800px;float:left; padding-top: 15px">
  </div>



</div>

</body>
</html>
